/* Container do card */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  background: url("../../../../public/background/login.png") no-repeat center
    center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background: rgba(44, 44, 44, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #f5f5f5;
}

/* Estilo dos inputs */
.input-group {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.input-field::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-field:focus {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}

/* Botão */
.btn {
  width: 100%;
  padding: 10px 15px;
  background: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #0056b3;
}

/* Link de registro */
.register-link {
  display: block;
  margin-top: 15px;
  font-size: 0.9rem;
  width: 50%;
  color: #ffc107;
  text-decoration: none;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: #ffd54f;
}
